
// Colors
$primary-color: #726da8;
$button-hover-color: #8480b3;
$accent-hover-color: #a01f5a;
$subtitle-color: #592a65;
$accent-color: #de4576;  // Soft $accent-color: red
$highlight-color: #f0f8f9; // Yellow highlight
$text-color: #222222; // Dark gray-blue
$background-color: #ffffff; // White
$muted-bg-2: #f0f8f9; // Light gray
$muted-bg: #f5f5f5; // Light gray     
$dark-color: #423e3b;
$text-color-2: #6b7280;

// Fonts
$font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$title-font: 'Avenir', 'Avenir Next', 'Helvetica Neue', sans-serif;
$body-font: 'Versailles LT Com 55 Roman', 'Times New Roman', serif;

// Borders & Shadows
$border-color: $text-color-2;
$border-radius: 1rem;
$box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

// Transitions
$transition: all 0.3s ease;